zshrc_private
zshrc_workspace
oss_config.txt
oss_helper/config.yaml
oss_helper/log
.DS_Store
.idea
__pycache__
private.fish
work.fish

# fish
# 本机 universal 变量快照
fish/fish_variables
# fisher 自己(让 install 命令重装)
fish/functions/fisher.fish
# fisher 的补全
fish/completions/fisher.fish
# 插件
fish/functions/__z.fish
fish/functions/__z_add.fish
fish/functions/__z_clean.fish
fish/functions/__z_complete.fish
fish/conf.d/z.fish
