zshrc_private
zshrc_workspace
oss_config.txt
oss_helper/config.yaml
oss_helper/log
.DS_Store
.idea
__pycache__
private.fish
work.fish

# fish
fish_variables                            # 本机 universal 变量快照
functions/fisher.fish                     # fisher 自己(让 install 命令重装)
completions/fisher.fish                   # fisher 的补全
functions/__z.fish                        # 插件
functions/__z_add.fish                    # 插件
functions/__z_clean.fish                  # 插件
functions/__z_complete.fish               # 插件
conf.d/z.fish                             # 插件
